<a href="https://colab.research.google.com/github/athmikajayan2-svg/ict_assignment/blob/main/assignment01_athmika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [ ]:
a = int(input('enter item1 price: '))
b = int(input('enter item1 quantity: '))
c = int(input('enter item2 price: '))
d = int(input('enter item2 quantity: '))
t = a*b+c*d
print(t)

enter item1 price: 10
enter item1 quantity: 2
enter item2 price: 20
enter item2 quantity: 3
80

2.

In [ ]:
c = int(input('enter temp in celsius'))
f = (c*9/5)+32
print(f)

enter temp in celsius30
86.0

3.

In [ ]:
a = float(input("enter basic salary: ") )
n = a+(0.20*a)+(0.10*a)
print("net salary: ",n)

enter basic salary: 20000
net salary:  26000.0

4.

In [1]:
p = float(input("principle amount: "))
r = float(input("rate of intrest: "))
t = float(input("time: "))
si = (p*r*t)/100
print(si)

principle amount: 10000
rate of intrest: 5
time: 2
1000.0

5.

In [2]:
minutes = float(input("enter total input: "))
hours = minutes/60
print(hours)

enter total input: 130
2.1666666666666665

6.

In [3]:
weight_kg = float(input("enter weight in kg:"))
height_m = float(input("enter height in m:"))
bmi = weight_kg / (height_m ** 2)
print("bmi:",bmi)

enter weight in kg:60
enter height in m:1.65
bmi: 22.03856749311295

7.

In [4]:
ogprice = int(input("Enter the price:"))
dis = ogprice - ogprice * 10/100
print(dis)

Enter the price:1200
1080.0

8.

In [6]:
a=float(input("enter side a"))
b=float(input("enter side b"))
c=float(input("enter side c"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)
#

enter side a5
enter side b6
enter side c7
14.696938456699069

9.

In [7]:
print("Paint Cost Estimator")
l = float(input("Enter length of the wall:"))
b = float(input("Enter breadth of the wall:"))
area = l * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print(paint,"sq.m")
cost = paint * 25
print(cost)

Paint Cost Estimator
Enter length of the wall:12
Enter breadth of the wall:8
92.4 sq.m
2310.0

10.

In [8]:
a = float(input("Enter number of units consumed: "))
r = 5.2
f = 100
bill_amount = (a * r) + f
print("Electricity Bill = ",bill_amount)

Enter number of units consumed: 250
Electricity Bill =  1400.0