<a href="https://colab.research.google.com/github/athmikajayan2-svg/ict_assignment/blob/main/assignment02_athmika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [6]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print(i,'=fizzbuzz')
  elif i%3==0:
      print(i,'= fizz')
  elif i%5==0:
     print(i,'= buzz')
  else:
     print(i)

1
2
3 = fizz
4
5 = buzz
6 = fizz
7
8
9 = fizz
10 = buzz
11
12 = fizz
13
14
15 =fizzbuzz
16
17
18 = fizz
19
20 = buzz
21 = fizz
22
23
24 = fizz
25 = buzz
26
27 = fizz
28
29
30 =fizzbuzz
31
32
33 = fizz
34
35 = buzz
36 = fizz
37
38
39 = fizz
40 = buzz
41
42 = fizz
43
44
45 =fizzbuzz
46
47
48 = fizz
49
50 = buzz
51 = fizz
52
53
54 = fizz
55 = buzz
56
57 = fizz
58
59
60 =fizzbuzz
61
62
63 = fizz
64
65 = buzz
66 = fizz
67
68
69 = fizz
70 = buzz
71
72 = fizz
73
74
75 =fizzbuzz
76
77
78 = fizz
79
80 = buzz
81 = fizz
82
83
84 = fizz
85 = buzz
86
87 = fizz
88
89
90 =fizzbuzz
91
92
93 = fizz
94
95 = buzz
96 = fizz
97
98
99 = fizz
100 = buzz

2.

In [8]:
unit = float(input("Enter the number of units consumed: "))
bill_amount = 0
if unit<=100:
  bill_amount = unit*5
elif unit<=200:
  bill_amount = (100*5)+(unit-100)*7
else:
  bill_amount = (100*5)+(100*7)+((unit-200)*10)
  print("Total Bill Amount = ₹",bill_amount)

Enter the number of units consumed: 245
Total Bill Amount = ₹ 1650.0

3.

In [9]:
for i in range(1,6):
  print('*' * i)

*
**
***
****
*****

4.

In [12]:
p = input('Enter num/str to be checked: ')
rev = p[::-1]
if p == rev:
   print("given num/str is a palindrome")
else:
   print("Given num/str is not palindrome")

Enter num/str to be checked: 121
given num/str is a palindrome